.inputName{
    padding: 10px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    background-color: none;
    transition: border 0.3s;
}

.message {
    font-size: 3.5em;
    font-weight: bold;
    color: #696662;
    margin-top: 60px;
}
