
doctype html
html
 head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=Edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")

  each item, i  in prj.styledependencies
    link(rel="stylesheet" href=item)

  each item, j  in prj.dependencies
    script(src=item)

  title= prj.title

 body
  #root
 script(src="bundle.js")
